    {{> head }}
    {{> navbar }}
    
      <div class="row">
          <div class="col-8">
            <h1 class="display-4">About {{ nombre }} </h1>
          </div>
        <div class="col-4">
        <img src="/assets/img/medico1.jpg" class="rounded mx-auto d-block" alt="...">            
        </div>
      
      </div>
     {{> footer }}
      